* {
    padding: 0px;
    margin: 0px;
}

#levelText {
    float: right;
    font-size: 14px;
}

#levelJSONtext {
    width: 95%;
    height: 400px;
}

#levelEditor {
    font-family: 'Anonymous Pro', sans-serif;
    padding-left: 5px;
}

#levelCanvas {
    width: 640px;
    height: 480px;
}

#statusBar {
    background-color: rgb(210, 210, 210);
    width: 640px;
    top: 480px;
    position: absolute;
}

#statusText {
    font-size: 13px;
    margin-left: 4px;
    margin-right: 4px;
}

#angleInput {
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 13px;
    height: 13px;
    width: 100px;
    top: 480px;
    left: 240px;
    position: absolute;
    border: none;
    background-color: rgb(210, 210, 210);
}

#images {
    display: none;
}
