* {
    padding: 0px;
    margin: 0px;
}

div {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    border: none;
}

#levelText {
    float: right;
}

#levelEditor {
    margin: 2px;
}

#levelCanvas {
    border: none;
    padding: 0px;
    width: 640px;
    height: 480px;
    margin-bottom: 0px;
}

#statusBar {
    background-color: rgb(180, 180, 180);
    width: 640px;
}

#statusText {
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 13px;
}

#angleInput {
    width: 100px;
    top: 320px;
    left: 240px;
    position: absolute;
}

#images {
    display: none;
}
